/src/.idea/.idea.CloudImageShrinker/.idea/.gitignore
/src/.idea/.idea.CloudImageShrinker/.idea/.name
/src/.idea/.idea.CloudImageShrinker/.idea/encodings.xml
/src/.idea/.idea.CloudImageShrinker/.idea/indexLayout.xml
/src/.idea/.idea.CloudImageShrinker/.idea/vcs.xml
